* {
    outline: 1px solid red !important;
 }
 
 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
 } 
.title{
    background-color: aqua;
    margin: 20px;
}
 .image{
     max-width: 50% auto;
 }

 .description{
    max-width: 50% auto;
}

.app{
    display: -webkit-flex;
    display: flex;
}